---
import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";
import aboutImg from "@/assets/img.png";

const meta = {
	title: "About",
	description: "",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Hey!
		</p>
		<div class="flex justify-center ">
			<Image
				src={aboutImg}
				alt="A cartoon cactus looking at the 'Astro.build' logo"
				loading="eager"
				fetchpriority="high"
			/>
		</div>
		<p>--</p>
		<ul class="list-inside list-disc">
			<li>.</li>
		</ul>
	</div>
</PageLayout>
